		
html,
body {
	margin:0;
	padding:0;
	height:100%;
}


*,
*:before,
*:after {
  box-sizing: inherit;
} 


#wrapper {
	min-height:100%;
	position:relative;
	overflow-x: hidden;
}

#header {
	height: 40px;
	padding: 10px; /* ensures clearance of grid */
	display: none;
}

/* top navigation -- hamburger */
#top-nav {
	border: none;
	height: 60px;
}


.navbar-header {
	height: 60px;
}

#header-brand {
	height: 40px;
	margin: 5px;
	margin-top: 10px;
}

div.container {
	height: 60px;
}

#hamDrop {
	width: 100%;
}

#hamDrop li {
	width: 100%;
	font-family: 'Molengo', sans-serif;
	font-weight: 300;
	text-transform: lowercase;
	line-height: 1.7em;
}
/* end top navigation -- hamburger */

#content {
	padding-bottom:100px; /* Height of the footer element */
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.grid {
	height: 100%; /* this code ensures that grid blocks are full height and width */
	width: 100%;
}


.sidebar {
	width: 200px;
	height: 100%;
	display: inline-block;
	float: left;
	margin-top: 40px;
	font-weight: 300;
	line-height: 1.5em;
}

.sidebar ul {
	list-style-type: none;
	margin-left: -10px;
}

.sidebar li, a {
	font-family: 'Molengo', sans-serif; 
	text-transform: lowercase;
	color: black;
}

#sidebar-logo{
	width: 120px;
	margin-left: 30px;
}

/* Top Nav for smaller screen sizes */

@media screen and (max-width: 768px) {
	#header {
		display: block;
	}
	
	.sidebar {
		display: none;
	}

	
	.container-fluid {
		width: 100% !important;
	}
		
	.navbar-header {
		background-color: white;
		height: 60px;
	}
	.container {
		height: 20px;
	}
	
	#navbar-brand {
	  display: inline-block;
	  }
}

/* End Top Nav for smaller screen sizes */

	
.container-fluid {
	width: calc(100% - 200px); /* sets up new boundaries for the responsive grid */
	display: inline-block;
	padding: 0;
	margin-bottom: -42px; /* margin should be -5px height of footer to make it flush with content */
}	

/* code below helps clearfix when rows don't properly collapse 

.col-lg-4:nth-child(3n+1){
	clear: left;
}

.col-md-4:nth-child(3n+1){
    clear: left;
}

.col-sm-4:nth-child(3n+1){
	clear: none;
}

<!-- Add the extra clearfix for only the required viewport 
						<div class="clearfix visible-md visible-lg"></div> -->

*/


/* footer styling */
#footer {
	padding: 1em 1em 1em 0em;
	color: white;
	font-family: 'Molengo', sans-serif; 
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1em;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	height: 35px;
	clear: both;
}

footer span.logo {
	text-align: left;
}



ul.bottomnav {
    width: 100%;
    text-align: center;
    list-style-type: none;
    text-align: center;
    position: inherit;
    font-family: 'Molengo', sans-serif;

}

ul.bottomnav li {
	display: inline-block;
    list-style-type: none;
    position:relative;
    padding-left: 5px;
    font-family: 'Molengo', sans-serif;
}

ul.bottomnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-family: 'Molengo', sans-serif;
}

.copyright {
	text-align: left;
	vertical-align: bottom;
	font-family: 'Molengo', sans-serif;
	font-weight: 300;
	font-size: .8em;
	padding-right: 15px;
}

@media only screen and (max-width: 535px) {
	.copyright {
		display: none;
	}
}

@media only screen and (max-width: 535px) {
	ul.bottomnav {
		margin-left: -55px;
	}
}
/* end footer styling */



/* ABOUT PAGE */

#about-hero {
	width: calc(100% - 40px);
}

.about-text {
	font-family: 'Molengo', sans-serif;
	font-weight: 300;
	font-size: 1em;
	height: 100%;
	padding-left: 20px;
	padding-right: 40px;
	margin-top: 40px;
}

.about-text ul {
	list-style-type: none;
	margin-left: -40px;
	margin-top: -10px;
}

#about-contact {
	font-size: 1.5em; 
	marging-top:10px; 
	line-height: 1.5em;
}

#contact-hidden {
	font-size: 1.5em; 
	marging-top:10px; 
	line-height: 1.5em;
}

.bio {
	font-size: 1.8em;
	vertical-align: top;
	margin-top: -.4em;
}

#about-hidden {
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
}



@media screen and (max-width: 768px) {
	.about-text {
		margin-left: 10px;
		font-size: .9em;
	}
	.bio {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 500px) {
	.bio {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 320px){
	#about-contact, #about-shown {
		display: none;
	}
	#about-hidden { 
		display: inline-block;
	}
	.about-text {
		margin-top: 0px;
	}
	#about-hero {
		margin-bottom: 10px;
	}
}


/* PRODUCT PAGE */
.carousel {
	margin-top: 40px;
}

.product-photo { 
	height: 100%;
	width: 100%;
}

.product-caption {
	font-family: 'Molengo', sans-serif;
	font-weight: 300;
	font-size: 1em;
	line-height: 1em;
	height: 100%;
	margin-top: 40px;
	margin-left: 40px;
}

.product-title {
	text-transform: capitalize;
	font-size: 1.6em;
	margin-bottom: 1em;
	margin-top: 3px;
	line-height: 1em;
}


.location {
	text-transform: lowercase;
	margin-top: -10px;
}


#arrow-left {
	float: left;
}

#arrow-right {
	float: right;
}

.shop-print {
	text-decoration: underline;
}

.carousel-caption {
	display: none;
}

@media screen and (min-width: 1100px){
	.arrows {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 768px) {
	.carousel {
		margin-top: 0px;
		margin-left: 5px;
	}
	.arrows {
		margin-left: 5px;
	}
	#product-fix {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 550px) {
	.product-title {
		font-size: 1.4em;
		line-height: 1.1em;
	}
	.location {
		margin-top: -5px;
	}
}


@media screen and (max-width: 320px) {
	.carousel {
		margin-left: 5px;
		margin-right: 5px;
	}
	.arrows {
		padding: 5px;
	}
	#arrow-right: {
		float: none !important;
		margin-right: 5px !important;
		
	}
	.product-caption {
		margin-top: 10px;
	}
}


/* hack for the iPad navbar non-collapse issue */

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/* fixes the top nav onscroll so it's edge-to-edge */
@media (width: 768px){
	.container {
	background-color: white;
	}
}



